# GitIgnore File!

# Ignore Build Folders
build/

CMakeFiles/

engine/CMakeFiles/
game/CMakeFiles/
launcher/CMakeFiles/

# Ignore Build Results
dist/launcher
dist/launcher.exe
dist/bin/engine.so
dist/bin/engine.dll
dist/bin/game.so
dist/bin/game.dll

launcher/launcher
launcher/launcher.exe
engine/engine.so
engine/engine.dll
game/game.so
game/game.dll

# Other CMake Shit

cmake_install.cmake
Makefile
CMakeCache.txt
